html,
body {
    height: 100%;
    font-size: 1rem;
}

.gradient {
    background: rgb(5,0,98);
    background: linear-gradient(90deg, rgba(5,0,98,1) 0%, rgba(9,9,121,1) 35%, rgba(51,70,255,1) 100%);
}

.page-header {
    margin-top: 3.5rem;
    font-size: 1.25rem;
    color: #ffffff;
}

footer {
    color: #000000;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

a {
    color: #000000;
    text-decoration: none;
}